* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Poppins', sans-serif;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  background: #000;
  overflow-x: hidden;
  overflow-y: auto;
}
