.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    background: rgba(20,20,25,0.8);
    backdrop-filter: blur(8px);
    border-radius: 50%;
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
    z-index: 1000;
}

.home-btn:hover {
    transform: scale(1.1);
    background: rgba(120,150,255,0.2);
}
