*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.container .number{
    font-size: 6rem;
}

.buttons-container{
    width: 40rem;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.increment-but, 
.decrement-but,
.reset-but {
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 2rem;
    background: #141517;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: transform 0.1s ease,opacity 0.1s ease;
}

.increment-but:active, 
.decrement-but:active,
.reset-but:active{
    opacity: 0.25;
    transform: scale(0.95);
}

.increment-but:hover, 
.decrement-but:hover,
.reset-but:hover{
    opacity: 0.5;
}

