/* @tailwind base;
@tailwind components; */
@tailwind utilities;


@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes holo-flicker {
  0%, 100% { opacity: 1; }
  97% { opacity: 0.9; }
  98% { opacity: 0.3; }
  99% { opacity: 1; }
}
.animate-holo-flicker {
  animation: holo-flicker 4s infinite;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}


.h1-title{
  font-size: 2.2rem;
  font-family: "poppins",sans-serif;
  background:linear-gradient(90deg,#fff,#7aa2ff);
  background-clip:text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}