.calculator{
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(circle at top,#1a1a1a 0%,#0b0b0b 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-card{
    background: rgba(255,255,255,0.04);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 2rem;
    width: 320px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.7), inset 0 0 0 1px rgba(255,255,255,0.05);
    animation: floatIn 0.6s ease;
}

@keyframes floatIn{
    from{transform: scale(0.75); opacity: 0;}
    to{transform: scale(1); opacity: 1;}
}

.screen{
    background: linear-gradient(145deg,#000,#0b0b0b);
    color: #4facfe;
    font-size: 2rem;
    padding: 1.1rem 1.2rem;
    border-radius: 16px;
    text-align: right;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
    overflow-x: auto;
    scrollbar-width: none;
}

.keypad{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.7rem;
}

.btn{
    padding: 1rem;
    border-radius: 14px;
    background: linear-gradient(145deg,#2a2a2a,#1a1a1a);
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.15s ease;
    box-shadow:0 6px 12px rgba(0,0,0,0.5), inset 0 0 0 1px rgba(255,255,255,0.04);
}

.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(79,172,254,0.25), inset 0 0 0 1px rgba(255,255,255,0.08);
}

.btn:active{
    transform: scale(0.95);
    box-shadow: inset 0 0 12px rgba(0,0,0,0.8);
}

.equals{
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    color: black;
    font-weight: 700;
    box-shadow: 0 10px 25px rgba(0,242,254,0.4);
}

.clear-button {
    grid-column: span 2;
    background: linear-gradient(135deg,#ff4d4d,#b30000);
    color: black;
    font-weight: 600;
    box-shadow: 0 10px 25px rgba(255,77,77,0.35);
    border-radius: 12px;
}

.clear-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 35px rgba(255,77,77,0.6);
}

.clear-button:active{
    transform: scale(0.95);
    box-shadow: inset 0 0 12px rgba(0,0,0,0.7);
}

.backspace-button{
    grid-column: span 2;
    background: linear-gradient(135deg,#2b2b2b,#1a1a1a);
    color: #fff;
    font-size: 1.3rem;
    border-radius: 12px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.5);
}

.backspace-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(79,172,254,0.25);
}

.backspace-button:active{
    transform: scale(0.95);
}